<!DOCTYPE html>
<html>

<body>
  <p-growl [value]="msgs" life="4500"></p-growl>

  <div class="login-container_cus">
    <form #submitForm="ngForm" (ngSubmit)="updatePwd(submitForm)">
      <div class="login-panel_cus">

        <div class="ui-g">
          <div class="ui-g-12">
            <h2>Update Password</h2>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12">
            <input class="login-input_cus ng-dirty ng-invalid" type="text" id="username" name="username" [(ngModel)]="staffId" required="true"
              #inusername="ngModel" placeholder="Username" />
            <div *ngIf="inusername.invalid && (inusername.dirty || inusername.touched || submitted)">
              <div *ngIf="inusername.errors.required">
                <div class="ui-message ui-messages-error ui-corner-all error_message_cus">
                  Please enter your username.
                </div>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <input class="login-input_cus ng-dirty ng-invalid" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
              required="true" #new="ngModel" placeholder="New Password" />
            <div *ngIf="new.invalid && (new.dirty || new.touched || submitted)">
              <div *ngIf="new.errors.required">
                <div class="ui-message ui-messages-error ui-corner-all error_message_cus">
                  Please enter your new password.
                </div>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <input class="login-input_cus" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
              required="true" #confirm="ngModel" placeholder="Confirm Password" />
            <div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched || submitted)">
              <div *ngIf="confirm.errors.required">
                <div class="ui-message ui-messages-error ui-corner-all error_message_cus">
                  Please enter your confirm password.
                </div>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <input class="login-button_cus" type="submit" value="Submit" />
          </div>

          <div dir="rtl" class="ui-g-12">
            <div *ngIf="loginErrorMessage" class="errorText">
              {{loginErrorMessage}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
