<p-card [style]="{width: '100%'}">
  <p-header>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-grid-row" style="background-color: #eeeeee">
        <div style="float: left;">
          <h3 style="margin-left: 12px">{{moduleCode}} - {{moduleTitle}}</h3>
        </div>
        <div style="float: right;">
          <p-button icon="fa fa-fw fa-file-text" [style]="viewCourseBtnStyle" (onClick)="viewCourse($event)" tooltipPosition="top" pTooltip="View"></p-button>
          <p-button icon="fa fa-fw fa-edit" [style]="updateCourseBtnSytle" (onClick)="updateCourse($event)" tooltipPosition="top" pTooltip="Update"></p-button>
          <p-button icon="fa fa-fw fa-calendar" [style]="viewTimetableBtnStyle" (onClick)="viewTimetable($event)" tooltipPosition="top" pTooltip="Timetable"></p-button>
          <p-button icon="fa fa-fw fa-tags" [style]="createTagsBtnStyle" (onClick)="createTags($event)" tooltipPosition="top" pTooltip="Tags"></p-button>
        </div>
      </div>
    </div>
  </p-header>
  <p-footer>
    <h5 style="margin-left: 6px;margin-top: 50px">Faculty: {{faculty}}</h5>
    <h5 style="margin-left: 6px;margin-top: -20px">Group: {{moduleGroup}}</h5>
    <h5 style="margin-left: 6px;margin-top: -20px;margin-bottom: 0px">Professor {{staffName}}</h5>
  </p-footer>
</p-card>
