<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <p-growl [value]="msgs" life="4500"></p-growl>

        <div class="ui-g form-group">

          <div class="ui-g-12">
            <label style="font-size: 20px;font-weight: bold">{{moduleCode}} - {{moduleTitle}}</label>
          </div>

          <div class="ui-g-12 ui-md-12">

            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Group:</label>
              </div>
              <div class="ui-grid-col-10">
                {{moduleGroup}}
              </div>
            </div>

            <div class="ui-grid-row" style="margin-top: 20px">
              <div class="ui-grid-col-2">
                <label class="label_cus">Professor:</label>
              </div>
              <div class="ui-grid-col-10">
                {{staffName}}
              </div>
            </div>

            <div class="ui-grid-row" style="margin-top: 20px">
              <div class="ui-grid-col-2">
                <label class="label_cus">Description:</label>
              </div>
              <div class="ui-grid-col-10">
                {{description}}
              </div>
            </div>

            <div class="ui-grid-row" style="margin-top: 20px">
              <div class="ui-grid-col-2">
                <label class="label_cus">Syllabus:</label>
              </div>
              <div class="ui-grid-col-10">
                <p-editor [(ngModel)]="syllabus" [style]="{'height':'220px'}"></p-editor>
              </div>
            </div>

            <div class="ui-grid-row" style="margin-top: 20px">
              <div class="ui-grid-col-2">
                <label class="label_cus">Schedule:</label>
              </div>
              <div class="ui-grid-col-10">
                <p-editor [(ngModel)]="blackoutDates" [style]="{'height':'220px'}"></p-editor>
              </div>
            </div>

            <div class="ui-grid-row" style="margin-top: 20px">
              <p-button label="Submit" [style]="buttonStyle" (onClick)="updateCourse($event)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
