<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Visit History</h1>
        <p-growl [value]="msgs" life="4500"></p-growl>

        <p-dialog [(visible)]="iDisplay" [draggable]="false" [resizable]="false" [width]="400" [height]="auto" [contentStyle]="{'overflow':'visible'}"
          modal="true">

          <p-header>Cancellation Form</p-header>

          <div style="margin-top: 15px">
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Title:</label>
                </div>
                <div class="ui-grid-col-9">
                  {{iMsgTitle}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Content:</label>
                </div>
                <div class="ui-grid-col-9">
                  <textarea rows="5" cols="29" pInputTextarea [(ngModel)]="iMsgContent" class="text_area_cus" name="iMsgContent"></textarea>
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="instructorCancel($event)" [style]="instructorCancelDialogBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="vDisplay" [draggable]="false" [resizable]="false" [width]="400" [height]="auto" [contentStyle]="{'overflow':'visible'}"
          modal="true">

          <p-header>Cancellation Form</p-header>

          <div style="margin-top: 15px">
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Title:</label>
                </div>
                <div class="ui-grid-col-9">
                  {{vMsgTitle}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Content:</label>
                </div>
                <div class="ui-grid-col-9">
                  <textarea rows="5" cols="29" pInputTextarea [(ngModel)]="vMsgContent" class="text_area_cus" name="vMsgContent"></textarea>
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="visitorCancel($event)" [style]="visitorCancelDialogBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="vfDisplay" [draggable]="false" [resizable]="false" [width]="680" [height]="auto" [contentStyle]="{'overflow':'visible'}"
          modal="true">

          <p-header>Feedback Form</p-header>

          <div style="margin-top: 15px">

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">Questions:</div>
                <div class="ui-grid-col-9">
                  <div *ngFor="let questionRating of questionRatings" style="margin-top: -5px;margin-left: -8px">
                    <div class="ui-g-8">{{questionRating.question}}</div>
                    <div class="ui-g-4">
                      <p-rating [(ngModel)]="questionRating.rating"></p-rating>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Comments:</label>
                </div>
                <div class="ui-grid-col-9" style="margin-top: 5px">
                  <textarea rows="6" cols="53" pInputTextarea [(ngModel)]="vfComment" class="text_area_cus" name="vfComments"></textarea>
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="visitorLeaveFeedback($event)" [style]="visitorLeaveDialogBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="auto"></p-confirmDialog>

        <p-tabView>
          <p-tabPanel header="As Instructor">
            <p-accordion>
              <p-accordionTab header="Pending" [selected]="true">
                <p-table #iDt [columns]="iCols" [value]="iPendingVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 8%">Confirm</th>
                      <th style="width: 8%">Cancel</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-button icon="fa fa-fw fa-gittip" (onClick)="instructorConfirmDialog(rowData)"></p-button>
                      </td>
                      <td style="text-align: center">
                        <p-button icon="fa fa-fw fa-trash" (onClick)="instructorCancelDialog(rowData)"></p-button>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+2">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>

              <p-accordionTab header="Confirmed" [selected]="true">
                <p-table #iDt [columns]="iCols" [value]="iConfirmedVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 8%">Actions</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-splitButton label=" " (onClick)="iActionList(rowData)" [model]="items" (onDropdownClick)="iActionList(rowData)"></p-splitButton>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+1">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>

              <p-accordionTab header="Cancelled" [selected]="true">
                <p-table #iDt [columns]="iCols" [value]="iCancelledVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>

          <p-tabPanel header="As Observer">
            <p-accordion>
              <p-accordionTab header="Pending" [selected]="true">
                <p-table #vDt [columns]="vCols" [value]="vPendingVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 7%">Cancel</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-button icon="fa fa-fw fa-trash" (onClick)="visitorCancelDialog(rowData)"></p-button>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+1">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>

              <p-accordionTab header="Confirmed" [selected]="true">
                <p-table #vDt [columns]="vCols" [value]="vConfirmedVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 8%">Actions</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-splitButton label=" " (onClick)="iActionList(rowData)" [model]="items" (onDropdownClick)="iActionList(rowData)"></p-splitButton>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+1">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>

              <p-accordionTab header="Cancelled" [selected]="true">
                <p-table #vDt [columns]="vCols" [value]="vCancelledVisit" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">

                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
