<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1 style="margin-left: 14px">Update Timetable</h1>
        <p-growl [value]="msgs"></p-growl>

        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Weeks Name:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText [(ngModel)]="weeksName" style="width:70%">
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Weeks:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText [(ngModel)]="weeks">
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Week Day:</label>
              </div>
              <div class="ui-grid-col-6">
                <p-dropdown [options]="weekDays" [(ngModel)]="selectedWeekDay"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Start Time:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText placeholder="(hh:mm)" [(ngModel)]="startTime">
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">End Time:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText placeholder="(hh:mm)" [(ngModel)]="endTime">
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Classroom:</label>
              </div>
              <div class="ui-grid-col-6">
                <p-dropdown [options]="rooms" [(ngModel)]="selectedRoom"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Room Part:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText [(ngModel)]="roomPart">
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                <label class="label_cus">Duration:</label>
              </div>
              <div class="ui-grid-col-6">
                <input type="text" pInputText placeholder="(hh:mm)" [(ngModel)]="duration">
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <p-button label="Submit" [style]="buttonStyle" (onClick)="updateTimetable($event)"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
