<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Staff Management</h1>
        <p-growl [value]="msgs" life="4500"></p-growl>

        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="auto"></p-confirmDialog>

        <p-fileUpload #fileUpload name="files[]" (uploadHandler)="onFileUpload($event,fileUpload)" accept="text/csv"
          maxFileSize="1000000" customUpload="true">
          <ng-template pTemplate="toolbar">
            <div style="margin-top: 8px">Please upload a file with csv format.</div>
          </ng-template>
        </p-fileUpload>

        <p-button label="New" icon="fa fa-fw fa-plus" [style]="showDialogBtnStyle" (onClick)="showNewStaffDialog()"></p-button>

        <p-dialog [(visible)]="createDisplay" [draggable]="false" [resizable]="false" [width]="400" [height]="auto"
          [contentStyle]="{'overflow':'visible'}" modal="true">

          <p-header>New Staff</p-header>

          <div style="margin-top: 15px">
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Name</label>
                </div>
                <div class="ui-grid-col-9">
                  <input type="text" pInputText [(ngModel)]="newStaffName" style="width:95%" name="newStaffName"
                    placeholder="Full Name">
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Staff Id</label>
                </div>
                <div class="ui-grid-col-9">
                  <input type="text" pInputText [(ngModel)]="newStaffId" style="width:95%" name="newStaffId"
                    placeholder="Username">
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Email</label>
                </div>
                <div class="ui-grid-col-9">
                  <input type="text" pInputText [(ngModel)]="newEmailAdd" style="width:95%" name="newEmailAdd"
                    placeholder="Email Address">
                </div>
              </div>
            </div>
          </div>

          <div class="ui-g-18 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <label>Role</label>
              </div>
              <div class="ui-grid-col-9">
                <p-dropdown [options]="roles" [(ngModel)]="selectedRole" optionLabel="label" [showClear]="true" [style]="{'width':'95%'}"
                  placeholder="Please Select One"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="ui-g-18 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <label>Division</label>
              </div>
              <div class="ui-grid-col-9">
                <p-dropdown [options]="division" [(ngModel)]="selectedDivision" optionLabel="label" [showClear]="true"
                  [style]="{'width':'95%'}" placeholder="Please Select One"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="ui-g-18 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-grid-col-3">
                <label>Active?</label>
              </div>
              <div class="ui-grid-col-9">
                <div class="ui-g" style="margin-top:-7px;margin-left:-7px">
                  <div class="ui-g-4">
                    <p-radioButton name="active" value="Yes" label="Yes" [(ngModel)]="active" inputId="opt1"></p-radioButton>
                  </div>
                  <div class="ui-g-4">
                    <p-radioButton name="active" value="No" label="No" [(ngModel)]="active" inputId="opt2"></p-radioButton>
                  </div>
                  <div class="ui-g-4"></div>
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="createStaffInfo($event)" [style]="createStaffBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-dialog [(visible)]="updateDisplay" [draggable]="false" [resizable]="false" [width]="400" [height]="auto"
          [contentStyle]="{'overflow':'visible'}" modal="true">

          <p-header>Update Staff</p-header>

          <div style="margin-top: 15px">
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Name:</label>
                </div>
                <div class="ui-grid-col-9">
                  {{updateStaffName}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Staff Id:</label>
                </div>
                <div class="ui-grid-col-9">
                  {{updateStaffId}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Division</label>
                </div>
                <div class="ui-grid-col-9">
                  {{updateDivision}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Role:</label>
                </div>
                <div class="ui-grid-col-9">
                  {{updateRole}}
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Email:</label>
                </div>
                <div class="ui-grid-col-9">
                  <input type="text" pInputText [(ngModel)]="updateEmailAdd" style="width:95%" name="updateEmailAdd"
                    placeholder="Email Address">
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="updateStaffInfo($event)" [style]="updateStaffBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-tabView>
          <p-tabPanel header="Available">
            <p-table #availDt [columns]="cols" [value]="enrolledStaffs" [paginator]="true" [rows]="10" [responsive]="true"
              paginatorPosition="bottom" sortField="staffRole" [sortOrder]="1">

              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0px"></i>
                  <input id="table_search_cus" type="text" pInputText size="50" placeholder="Global Filter" (input)="availDt.filterGlobal($event.target.value, 'contains')"
                    style="width:35%;margin-left: 3px;color:aliceblue">
                </div>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th style="width: 8%">Update</th>
                  <th style="width: 8%">Delete</th>
                  <th style="width: 8%">Archive</th>
                </tr>
                <tr style="display:none;">
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'staffName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="height:55px">
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-edit" (onClick)="showUpdateStaffDialog(rowData)"></p-button>
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-trash" (onClick)="deleteStaffConfirmDialog(rowData)"></p-button>
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-archive" (onClick)="confirmArchive(rowData)"></p-button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length+3">
                    No records found
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Archived">

            <p-table #archiDt [columns]="cols" [value]="nonEnrolledStaffs" [paginator]="true" [rows]="10" [responsive]="true"
              paginatorPosition="bottom" sortField="staffRole" [sortOrder]="1">

              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0px"></i>
                  <input id="table_search_cus" type="text" pInputText size="50" placeholder="Global Filter" (input)="archiDt.filterGlobal($event.target.value, 'contains')"
                    style="width:35%;margin-left: 3px;color:aliceblue">
                </div>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th style="width: 8%">Restore</th>
                </tr>
                <tr style="display:none;">
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'staffName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="height:55px">
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-star" (onClick)="confirmRestore(rowData)"></p-button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length+1">
                    No records found
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
