<body>
	<div class="login-container">
		<form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
			<div class="login-panel">

				<h2>Staff Login</h2>

				<div class="ui-g">
					<div class="ui-g-12">
						<input class="login-input" type="text" id="username" name="username" [(ngModel)]="username" required="true" #inusername="ngModel"
						 placeholder="Username" />
						<div *ngIf="inusername.invalid && (inusername.dirty || inusername.touched || submitted)">
							<div *ngIf="inusername.errors.required">
								<p-message severity="error" text="Username is required."></p-message>
							</div>
						</div>
					</div>

					<div class="ui-g-12">
						<input class="login-input" type="password" id="password" name="password" [(ngModel)]="pwd" required="true" #inpassword="ngModel"
						 placeholder="Password" />
						<div *ngIf="inpassword.invalid && (inpassword.dirty || inpassword.touched || submitted)">
							<div *ngIf="inpassword.errors.required">
								<p-message severity="error" text="Password is required."></p-message>
							</div>
						</div>
					</div>

					<div class="ui-g-12">
						<input class="login-button" type="submit" value="Login" />
					</div>

					<div dir="rtl" style="margin-right: 20px;">
						<div *ngIf="loginErrorMessage" class="errorText">
							{{loginErrorMessage}}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>