$primaryColor: #042D58;
$primaryDarkColor: #022242;
$primaryLightColor: #8FABD8;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';