<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Inbox</h1>
        <p-growl [value]="msgs" life="4500"></p-growl>

        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="auto"></p-confirmDialog>

        <p-tabView>
          <p-tabPanel header="Unread">
            <p-dataView [value]="unReadMessages" [paginator]="true" [rows]="10" paginatorPosition="bottom">
              <ng-template let-umessage pTemplate="listItem">
                <div style="border-bottom: 1px solid #bdbdbd">
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-1">
                        <i class="material-icons" style="font-size:28px; color:#757575; margin-left: 15px; margin-top: 9px;">email</i>
                      </div>
                      <div class="ui-grid-col-5">
                        <p style="font-weight: 550">{{umessage.title}}</p>
                      </div>
                      <div class="ui-grid-col-3">
                        <p style="margin-left: 60px;font-weight: 550">{{umessage.messageDate}}</p>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="markButtonStyle" icon="fa fa-fw fa-heart" (onClick)="markReadMessage($event, umessage)"></p-button>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="viewButtonStyle" icon="fa fa-fw fa-file-text" (onClick)="viewUnreadMessage($event, umessage)"></p-button>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="deleteButtonStyle" icon="fa fa-fw fa-trash" (onClick)="deleteUnreadMessageConfirmDialog($event, umessage)"></p-button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </p-tabPanel>

          <p-tabPanel header="Read">
            <p-dataView [value]="readMessages" [paginator]="true" [rows]="10" paginatorPosition="bottom">
              <ng-template let-rmessage pTemplate="listItem">
                <div style="border-bottom: 1px solid #bdbdbd">
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-1">
                        <i class="material-icons" style="font-size:28px; color:#757575; margin-left: 15px; margin-top: 9px;">email</i>
                      </div>
                      <div class="ui-grid-col-5">
                        <p>{{rmessage.title}}</p>
                      </div>
                      <div class="ui-grid-col-3">
                        <p style="margin-left: 60px">{{rmessage.messageDate}}</p>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="markButtonStyle" icon="fa fa-fw fa-heart-o" (onClick)="markUnreadMessage($event, rmessage)"></p-button>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="viewButtonStyle" icon="fa fa-fw fa-file-text" (onClick)="viewReadMessage($event, rmessage)"></p-button>
                      </div>
                      <div class="ui-grid-col-1">
                        <p-button [style]="deleteButtonStyle" icon="fa fa-fw fa-trash" (onClick)="deleteReadMessageConfirmDialog($event, rmessage)"></p-button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
