.cars-datalist .text-column p:last-child {
  color: #757575;
}

.cars-datalist .car-item i,
.cars-datalist .car-item .car-details {
  display: inline-block;
  vertical-align: middle;
}

.cars-datalist .car-item button {
  float: right;
}

.cars-datalist ul {
  margin: 0;
  padding: 0;
}

.ui-car-display td:last-child {
  font-weight: 700;
}

@media (max-width: 640px) {
  .cars-datalist .text-column {
    text-align: center;
  }
}

.data_list_cus {
  color: black;
}

.data_list_icon_cus {
  color:#757575;
  text-align: center;
}
