::placeholder {
  color: #ffffff;
}

.loading_style {
  background-image: url("../../../../assets/layout/images/loading.png");
  width: 295px;
  height: 295px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 32%;
}
