<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <p-growl [value]="msgs" life="4500"></p-growl>

        <div class="ui-g form-group">
          <div class="ui-g-12">
            <label style="font-size: 20px;font-weight: bold">{{moduleCode}} - {{moduleTitle}}</label>
          </div>
          <div class="ui-g-12">
            <label>{{weeksName}}</label>
          </div>
          <div class="ui-g-12" style="margin-top: -10px">
            <label>Group: {{moduleGroup}}</label>
          </div>
          <div class="ui-g-12" style="margin-top: -10px">
            <label>Professor: {{staffName}}</label>
          </div>

          <div class="ui-g-12" style="margin-top: -5px;margin-left: -1px">
            <p-accordion>
              <p-accordionTab header="Description" [selected]="true">
                <div style="text-align: justify;text-justify: auto">
                  <div [innerHTML]="description">
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Syllabus" [selected]="true">
                <div style="text-align: justify;text-justify: auto">
                  <div [innerHTML]="syllabus">
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Schedule" [selected]="true">
                <div style="text-align: justify;text-justify: auto">
                  <div [innerHTML]="blackoutDates">
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Timetable" [selected]="true">
                <div style="text-align: justify;text-justify: auto">
                  <app-requestTimetableCard [timetables]="timetables"></app-requestTimetableCard>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Tags" [selected]="true">
                <div>
                  <p-chips [(ngModel)]="inputTags" name="inputTags" (onRemove)="onRemoveEvent($event)"></p-chips>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
