<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Timetable</h1>
        <p-growl [value]="msgs" life="4500"></p-growl>

        <p-button label="View" icon="fa fa-fw fa-file-text" (onClick)="viewIndivCourseTimetable($event)" [style]="viewSessionBtnStyle"></p-button>

        <p-table #dt [columns]="cols" [value]="timetables" [paginator]="true" [rows]="10" [responsive]="true"
          paginatorPosition="bottom">

          <ng-template pTemplate="caption">

          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" style="height:55px">
              <td *ngFor="let col of columns" style="text-align: center">
                {{rowData[col.field]}}
              </td>
              <!-- <td style="text-align: center">
                <p-button icon="fa fa-fw fa-edit" (onClick)="updateTimetable(rowData)"></p-button>
              </td> -->
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No records found
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  </div>
</div>
