<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">
        <h1>Individual Session</h1>
        <p-growl [value]="msgs" life="4500"></p-growl>
        <p-growl [value]="validationMsgs" life="4500"></p-growl>

        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="auto"></p-confirmDialog>

        <p-button label="New" icon="fa fa-fw fa-plus" [style]="showDialogBtnStyle" (onClick)="showDialog()"></p-button>

        <p-dialog [(visible)]="display" [draggable]="false" [resizable]="false" [width]="300" [height]="auto"
          [contentStyle]="{'overflow':'visible'}" modal="true">

          <p-header>New Session</p-header>

          <div style="margin-top: 15px">
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Date:</label>
                </div>
                <div class="ui-grid-col-9">
                  <p-calendar id="showIcon" [showIcon]="true" [(ngModel)]="newDateTime" name="dateStr" [minDate]="minDate"></p-calendar>
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>Start:</label>
                </div>
                <div class="ui-grid-col-9">
                  <p-calendar [(ngModel)]="newStartTimeDate" [timeOnly]="true"></p-calendar>
                </div>
              </div>
            </div>

            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <label>End:</label>
                </div>
                <div class="ui-grid-col-9">
                  <p-calendar [(ngModel)]="newEndTimeDate" [timeOnly]="true"></p-calendar>
                </div>
              </div>
            </div>
          </div>

          <p-footer>
            <div class="ui-g-18 ui-md-12">
              <div class="ui-grid-row">
                <div class="ui-grid-col-3">
                  <p-button label="Submit" (onClick)="createIndividualSession($event)" [style]="createIndivSessionBtnStyle"></p-button>
                </div>
              </div>
            </div>
          </p-footer>
        </p-dialog>

        <p-tabView>
          <p-tabPanel header="Available">
            <p-table #availDt [columns]="cols" [value]="availDates" [paginator]="true" [rows]="10" [responsive]="true"
              paginatorPosition="bottom" sortField="dateStr" [sortOrder]="1">

              <ng-template pTemplate="caption">

              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th>Archive</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="height:55px">
                  <td *ngFor="let col of columns" style="text-align: center">
                    {{rowData[col.field]}}
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-archive" (onClick)="confirmArchive(rowData)"></p-button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length+1">
                    No records found
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Archived">
            <p-table [columns]="cols" [value]="archivedDates" [paginator]="true" [rows]="10" [responsive]="true"
              paginatorPosition="bottom" sortField="dateStr" [sortOrder]="1">

              <ng-template pTemplate="caption">

              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th>Restore</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="height:55px">
                  <td *ngFor="let col of columns" style="text-align: center">
                    {{rowData[col.field]}}
                  </td>
                  <td style="text-align: center">
                    <p-button icon="fa fa-fw fa-star" (onClick)="confirmRestore(rowData)"></p-button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length+1">
                    No records found
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Booked">
            <p-table #bookedDt [columns]="bookedDatesCols" [value]="bookedDates" [paginator]="true" [rows]="10"
              [responsive]="true" paginatorPosition="bottom" sortField="dateStr" [sortOrder]="1">

              <ng-template pTemplate="caption">

              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" style="height:55px">
                  <td *ngFor="let col of columns" style="text-align: center">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columns.length">
                    No records found
                  </td>
                </tr>
              </ng-template>

            </p-table>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
