<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card">

        <div [ngSwitch]='loadingStatus'>
          <div *ngSwitchCase="'loading'">
            <div class="loading_style">

            </div>
            <div style="margin-left: 950px">
              <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="6" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
            </div>
          </div>
          <div *ngSwitchCase="'active'">

            <h1>Course Management</h1>
            <p-growl [value]="msgs" life="4500"></p-growl>

            <p-fileUpload #uploadCourse name="courseFiles[]" (uploadHandler)="onFileUploadCourse($event,uploadCourse)" accept="text/csv"
              maxFileSize="1000000" customUpload="true">
              <ng-template pTemplate="toolbar">
                <div style="margin-top: 8px">Please upload a file with csv format. (all courses schedule)</div>
              </ng-template>
            </p-fileUpload>

            <p-fileUpload #uploadCourseInfo name="courseInfoFiles[]" (uploadHandler)="onFileUploadCourseInfo($event,uploadCourseInfo)"
              accept="text/csv" maxFileSize="1000000" customUpload="true">
              <ng-template pTemplate="toolbar">
                <div style="margin-top: 8px">Please upload a file with csv format. (specific course description)</div>
              </ng-template>
            </p-fileUpload>

            <p-dialog [(visible)]="viewDisplay" [draggable]="false" [resizable]="false" [width]="400" [height]="auto" [contentStyle]="{'overflow':'visible'}"
              modal="true">

              <p-header>Course Details</p-header>

              <div style="margin-top: 15px">
                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Module Code:</label>
                    </div>
                    <div class="ui-grid-col-8">
                      {{moduleCode}}
                    </div>
                  </div>
                </div>

                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Module Title:</label>
                    </div>
                    <div class="ui-grid-col-8">
                      {{moduleTitle}}
                    </div>
                  </div>
                </div>

                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Description:</label>
                    </div>
                    <div class="ui-grid-col-8" style="text-align: justify;margin-bottom: 12px;">
                      {{description}}
                    </div>
                  </div>
                </div>
              </div>
            </p-dialog>

            <p-dialog [(visible)]="updateDisplay" [draggable]="false" [resizable]="false" [width]="450" [height]="auto" [contentStyle]="{'overflow':'visible'}"
              modal="true">

              <p-header>Update Course</p-header>

              <div style="margin-top: 15px">
                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Module Code:</label>
                    </div>
                    <div class="ui-grid-col-8">
                      <input type="text" pInputText [(ngModel)]="newModuleCode" style="width:95%" name="newModuleCode" placeholder="Module Code">
                    </div>
                  </div>
                </div>

                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Module Title:</label>
                    </div>
                    <div class="ui-grid-col-8">
                      <input type="text" pInputText [(ngModel)]="newModuleTitle" style="width:95%" name="newModuleTitle" placeholder="Module Title">
                    </div>
                  </div>
                </div>

                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <label>Description:</label>
                    </div>
                    <div class="ui-grid-col-8">
                      <textarea rows="8" cols="30" pInputTextarea [(ngModel)]="newDescription" class="text_area_cus" name="newDescription"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <p-footer>
                <div class="ui-g-18 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                      <p-button label="Submit" (onClick)="updateCourseInfo($event)" [style]="updateCourseBtnStyle"></p-button>
                    </div>
                  </div>
                </div>
              </p-footer>
            </p-dialog>

            <p-tabView [style]="{'margin-top': '10px'}">
              <p-tabPanel header="Schedule">
                <p-table #sdt [columns]="cols" [value]="courses" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0px"></i>
                      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="sdt.filterGlobal($event.target.value, 'contains')"
                        style="width:35%;margin-left: 3px;color:aliceblue">
                    </div>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 7%">View</th>
                      <th style="width: 7%">Timetable</th>
                      <th style="width: 7%">Update</th>
                    </tr>
                    <tr style="display:none;">
                      <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'staffName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-button icon='fa fa-fw fa-file-text' (onClick)="viewCourseDetails(rowData)"></p-button>
                      </td>
                      <td style="text-align: center">
                        <p-button icon='fa fa-fw fa-calendar' (onClick)="viewTimetable(rowData)"></p-button>
                      </td>
                      <td style="text-align: center">
                        <p-button icon='fa fa-fw fa-edit' (onClick)="updateCourse(rowData)"></p-button>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+3">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-tabPanel>
              <p-tabPanel header="Description">
                <p-table #ddt [columns]="dCols" [value]="dCourseInfos" [paginator]="true" [rows]="10" [responsive]="true" paginatorPosition="bottom">

                  <ng-template pTemplate="caption">
                    <div style="text-align: right">
                      <i class="fa fa-search" style="margin:4px 4px 0 0px"></i>
                      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="ddt.filterGlobal($event.target.value, 'contains')"
                        style="width:35%;margin-left: 3px;color:aliceblue">
                    </div>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 8%">View</th>
                      <th style="width: 8%">Update</th>
                    </tr>
                    <tr style="display:none;">
                      <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <input *ngSwitchCase="'staffName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" style="height:55px">
                      <td *ngFor="let col of columns" style="text-align: center">
                        {{rowData[col.field]}}
                      </td>
                      <td style="text-align: center">
                        <p-button icon='fa fa-fw fa-file-text' (onClick)="showViewCourseDialog(rowData)"></p-button>
                      </td>
                      <td style="text-align: center">
                        <p-button icon='fa fa-fw fa-edit' (onClick)="showUpdateCourseDialog(rowData)"></p-button>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columns.length+2">
                        No records found
                      </td>
                    </tr>
                  </ng-template>

                </p-table>
              </p-tabPanel>
            </p-tabView>

          </div>
        </div>
      </div>
    </div>
  </div>
