::placeholder {
  color: #ffffff;
}

.loading_style {
  background-image: url("../../../../assets/layout/images/loading.png");
  width: 200px;
  height: 200px;
  margin-top: 18%;
  margin-bottom: 15%;
  margin-left: 38%;
}
